<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns:sec="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org">
<head>
<body>

<head th:fragment="header">
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1.0, user-scalable=0' name='viewport'>
    <!---->
    <title>Dayone - Multipurpose Admin & Dashboard Template</title>
    <!---->
    <link rel="icon" th:href="@{/assets/images/brand/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/assets/plugins/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/dark.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/skin-modes.css}"/>
    <link rel="stylesheet" th:href="@{/assets/plugins/animated/animated.css}"/>
    <link rel="stylesheet" th:href="@{/assets/plugins/icons/icons.css}"/>
    <link rel="stylesheet" th:href="@{/assets/plugins/select2/select2.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/plugins/p-scrollbar/p-scrollbar.css}"/>
    <link rel="stylesheet" th:href="@{/assets/switcher/css/switcher.css}"/>
    <link rel="stylesheet" th:href="@{/assets/switcher/demo.css}"/>
    <!---->
    <link rel="stylesheet" th:href="@{/assets/css/sidemenu.css}">
    <link rel="stylesheet" th:href="@{/assets/plugins/sidebar/sidebar.css}"/>
    <link rel="stylesheet" th:href="@{/assets/plugins/datatable/css/dataTables.bootstrap4.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/plugins/datatable/responsive.bootstrap4.min.css}"/>

    <link rel="stylesheet" th:href="@{/assets/plugins/notify/css/notifIt.css}"/>
    <link rel="stylesheet" th:href="@{/assets/plugins/summernote/summernote-bs4.css}">
    <link rel="stylesheet" th:href="@{/assets/plugins/modal-datepicker/datepicker.css}"/>
</head>

<aside class="app-sidebar" th:fragment="sidebar">
    <div class="app-sidebar__logo">
        <a class="header-brand" th:href="@{/university-payroll/dashboard}">
            <img alt="Dayonelogo" class="header-brand-img desktop-lgo"
                 th:src="@{/assets/images/brand/logo.png}">
            <img alt="Dayonelogo" class="header-brand-img dark-logo"
                 th:src="@{/assets/images/brand/logo-white.png}">
            <img alt="Dayonelogo" class="header-brand-img mobile-logo"
                 th:src="@{/assets/images/brand/favicon.png}">
            <img alt="Dayonelogo" class="header-brand-img darkmobile-logo"
                 th:src="@{/assets/images/brand/favicon1.png}">
        </a>
    </div>
    <div class="app-sidebar3">
        <ul class="side-menu">
            <li class="side-item side-item-category mt-4">Dashboard</li>
            <li class="slide">
                <a class="side-menu__item" th:href="@{/university-payroll/dashboard}">
                    <i class="feather feather-home sidemenu_icon"></i>
                    <span class="side-menu__label">Main Dashboard</span>
                </a>
            </li>
            <li class="side-item side-item-category">Academic</li>
            <li class="slide">
                <a class="side-menu__item" href="#">
                    <i class="feather  feather-users sidemenu_icon"></i>
                    <span class="side-menu__label">Personal Details</span>
                </a>
            </li>
            <li class="slide">
                <a class="side-menu__item" href="#">
                    <i class="feather feather-user sidemenu_icon"></i>
                    <span class="side-menu__label">Company Details</span>
                </a>
            </li>
            <li class="slide">
                <a class="side-menu__item" href="#">
                    <i class="feather feather-headphones sidemenu_icon"></i>
                    <span class="side-menu__label">Bank Details</span>
                </a>
            </li>
            <li class="slide">
                <a class="side-menu__item" href="#">
                    <i class="feather feather-airplay sidemenu_icon"></i>
                    <span class="side-menu__label">Payments</span>
                </a>
            </li>
            <li class="slide">
                <a class="side-menu__item" href="#">
                    <i class="feather feather-airplay sidemenu_icon"></i>
                    <span class="side-menu__label">Academic Leaves</span>
                </a>
            </li>
            <li class="slide">
                <a class="side-menu__item" href="#">
                    <i class="feather feather-airplay sidemenu_icon"></i>
                    <span class="side-menu__label">Time Cards</span>
                </a>
            </li>
        </ul>
    </div>
</aside>

<div class="app-header header" th:fragment="app-header">
    <div class="container-fluid">
        <div class="d-flex">
            <a class="header-brand" href="index-2.html">
                <img alt="Dayonelogo" class="header-brand-img desktop-lgo"
                     th:src="@{/assets/images/brand/logo.png}">
                <img alt="Dayonelogo" class="header-brand-img dark-logo"
                     th:src="@{/assets/images/brand/logo-white.png}">
                <img alt="Dayonelogo" class="header-brand-img mobile-logo"
                     th:src="@{/assets/images/brand/favicon.png}">
                <img alt="Dayonelogo" class="header-brand-img darkmobile-logo"
                     th:src="@{/assets/images/brand/favicon1.png}">
            </a>
            <div class="app-sidebar__toggle" data-toggle="sidebar">
                <a class="open-toggle" href="#">
                    <i class="feather feather-menu"></i>
                </a>
                <a class="close-toggle" href="#">
                    <i class="feather feather-x"></i>
                </a>
            </div>
            <div class="mt-0">
                <form class="form-inline">
                    <div class="search-element">
                        <input aria-label="Search" class="form-control header-search"
                               placeholder="Search…"
                               tabindex="1" type="search">
                        <button class="btn btn-primary-color">
                            <i class="feather feather-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="d-flex order-lg-2 my-auto ml-auto">
                <a class="nav-link my-auto icon p-0 nav-link-lg d-md-none navsearch"
                   data-toggle="search"
                   href="#">
                    <i class="feather feather-search search-icon header-icon"></i>
                </a>
                <div class="dropdown header-message">
                    <a class="nav-link icon" data-toggle="dropdown">
                        <i class="feather feather-mail header-icon"></i>
                        <span class="badge badge-success side-badge">1</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow  animated">
                        <div class="header-dropdown-list message-menu" id="message-menu">
                            <a class="dropdown-item border-bottom" href="#">
                                <div class="d-flex align-items-center">
                                    <div class="">
                                                        <span class="avatar avatar-md brround align-self-center cover-image"
                                                              data-image-src="assets/images/users/1.jpg"></span>
                                    </div>
                                    <div class="d-flex">
                                        <div class="pl-3">
                                            <h6 class="mb-1">Jack Wright</h6>
                                            <p class="fs-13 mb-1">All the best your template
                                                awesome</p>
                                            <div class="small text-muted">
                                                3 hours ago
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class=" text-center p-2">
                            <a class="" href="#">See All Messages</a>
                        </div>
                    </div>
                </div>
                <div class="dropdown header-notify">
                    <a class="nav-link icon" data-target=".sidebar-right"
                       data-toggle="sidebar-right">
                        <i class="feather feather-bell header-icon"></i>
                        <span class="bg-dot"></span>
                    </a>
                </div>
                <div class="dropdown profile-dropdown">
                    <a class="nav-link pr-1 pl-0 leading-none" data-toggle="dropdown" href="#">
                        <span>
                            <img alt="img" class="avatar avatar-md bradius" th:src="@{/assets/images/users/16.jpg}">
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow animated">
                        <div class="p-3 text-center border-bottom">
                            <a class="text-center user pb-0 font-weight-bold" href="#"
                               sec:authentication="principal.fullName"></a>
                            <p class="text-center user-semi-title"
                               sec:authentication="principal.jobTitle"></p>
                        </div>
                        <a class="dropdown-item d-flex" href="#">
                            <i class="feather feather-user mr-3 fs-16 my-auto"></i>
                            <div class="mt-1">Profile</div>
                        </a>
                        <a class="dropdown-item d-flex" href="#">
                            <i class="feather feather-settings mr-3 fs-16 my-auto"></i>
                            <div class="mt-1">Settings</div>
                        </a>
                        <a class="dropdown-item d-flex" data-target="#changepasswordnmodal"
                           data-toggle="modal"
                           href="#">
                            <i class="feather feather-edit-2 mr-3 fs-16 my-auto"></i>
                            <div class="mt-1">Change Password</div>
                        </a>
                        <a class="dropdown-item d-flex" th:href="@{/university-payroll/logout}">
                            <i class="feather feather-power mr-3 fs-16 my-auto"></i>
                            <div class="mt-1">Sign Out</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="notifications">
    <div class="sidebar sidebar-right sidebar-animate">
        <div class="card-header border-bottom pb-5">
            <h4 class="card-title">Notifications </h4>
            <div class="card-options">
                <a class="btn btn-sm btn-icon btn-light  text-primary" data-target=".sidebar-right"
                   data-toggle="sidebar-right"
                   href="#"><i class="feather feather-x"></i> </a>
            </div>
        </div>
        <div class="">
            <div class="list-group-item  align-items-center  border-bottom">
                <div class="d-flex">
                    <span class="avatar avatar-lg brround mr-3"
                          th:style="'background-image:url( + @{/assets/images/users/10.jpg} + );'"></span>
                    <div class="mt-1">
                        <a class="font-weight-semibold fs-16" href="#">Paul<span class="text-muted font-weight-normal"> commented on you post</span></a>
                        <span class="clearfix"></span>
                        <span class="text-muted fs-13 ml-auto"><i
                                class="mdi mdi-clock text-muted mr-1"></i>1 hour ago</span>
                    </div>
                    <div class="ml-auto">
                        <a aria-expanded="false" aria-haspopup="true" class="mr-0 option-dots" data-toggle="dropdown"
                           href="#"
                           role="button">
                            <span class="feather feather-more-horizontal"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a href="#"><i class="feather feather-eye mr-2"></i>View</a></li>
                            <li><a href="#"><i class="feather feather-plus-circle mr-2"></i>Add</a></li>
                            <li><a href="#"><i class="feather feather-trash-2 mr-2"></i>Remove</a></li>
                            <li><a href="#"><i class="feather feather-settings mr-2"></i>More</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer" th:fragment="footer">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-md-12 col-sm-12 mt-3 mt-lg-0 text-center">
                Copyright © 2021 <a href="#">Dayone</a>. Designed by <a href="#">Spruko Technologies Pvt.Ltd</a> All
                rights reserved.
            </div>
        </div>
    </div>

    <script th:src="@{/assets/plugins/jquery/jquery.min.js}"></script>
    <script th:src="@{/assets/plugins/bootstrap/popper.min.js}"></script>
    <script th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/plugins/select2/select2.full.min.js}"></script>

    <script th:src="@{/assets/plugins/p-scrollbar/p-scrollbar.js}"></script>
    <script th:src="@{/assets/plugins/p-scrollbar/p-scroll1.js}"></script>

    <script th:src="@{/assets/plugins/moment/moment.js}"></script>
    <script th:src="@{/assets/plugins/othercharts/jquery.sparkline.min.js}"></script>
    <script th:src="@{/assets/plugins/circle-progress/circle-progress.min.js}"></script>
    <script th:src="@{/assets/plugins/sidemenu/sidemenu.js}"></script>
    <script th:src="@{/assets/plugins/sidebar/sidebar.js}"></script>

    <script th:src="@{/assets/plugins/datatable/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/assets/plugins/datatable/js/dataTables.bootstrap4.js}"></script>
    <script th:src="@{/assets/plugins/datatable/dataTables.responsive.min.js}"></script>
    <script th:src="@{/assets/plugins/datatable/responsive.bootstrap4.min.js}"></script>
    <script th:src="@{/assets/plugins/datatable/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/assets/plugins/datatable/js/buttons.bootstrap4.min.js}"></script>

    <script th:src="@{/assets/plugins/notify/js/notifIt.js}"></script>
    <script th:src="@{/assets/plugins/chart/chart.bundle.js}"></script>
    <script th:src="@{/assets/plugins/chart/utils.js}"></script>
    <script th:src="@{/assets/plugins/modal-datepicker/datepicker.js}"></script>

    <script th:src="@{/assets/plugins/summernote/summernote-bs4.js}"></script>
    <script th:src="@{/assets/plugins/apexchart/apexcharts.js}"></script>
    <!--    -->
    <script th:src="@{/assets/switcher/js/switcher.js}"></script>
    <!--    -->
    <script th:src="@{/assets/js/client/client-list.js}"></script>
    <script th:src="@{/assets/js/client/client-sidemenuchart.js}"></script>
    <script th:src="@{/assets/js/hr/hr-emp.js}"></script>
    <script th:src="@{/assets/js/custom.js}"></script>
    <script th:src="@{/assets/js/employee/emp-myleaves.js}"></script>
    <script th:src="@{/assets/js/employee/emp-sidemenuchart.js}"></script>
    <script th:src="@{/assets/js/employee/emp-payslips.js}"></script>
    <!--    -->
</footer>
</body>
</html>