<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns:sec="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org">
<head>
<body>

<head th:fragment="header">
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1.0, user-scalable=0' name='viewport'>
    <!---->
    <title>Dayone - Multipurpose Admin & Dashboard Template</title>
    <!---->
    <link rel="icon" th:href="@{/assets/images/brand/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/assets/plugins/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/dark.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/skin-modes.css}"/>
    <link rel="stylesheet" th:href="@{/assets/plugins/animated/animated.css}"/>
    <link rel="stylesheet" th:href="@{/assets/plugins/icons/icons.css}"/>
    <link rel="stylesheet" th:href="@{/assets/plugins/select2/select2.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/plugins/p-scrollbar/p-scrollbar.css}"/>
    <link rel="stylesheet" th:href="@{/assets/switcher/css/switcher.css}"/>
    <link rel="stylesheet" th:href="@{/assets/switcher/demo.css}"/>
    <!---->
    <link rel="stylesheet" th:href="@{/assets/css/sidemenu.css}">
    <link rel="stylesheet" th:href="@{/assets/plugins/sidebar/sidebar.css}"/>
    <link rel="stylesheet" th:href="@{/assets/plugins/datatable/css/dataTables.bootstrap4.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/plugins/datatable/responsive.bootstrap4.min.css}"/>

    <link rel="stylesheet" th:href="@{/assets/plugins/notify/css/notifIt.css}"/>
    <link rel="stylesheet" th:href="@{/assets/plugins/summernote/summernote-bs4.css}">
    <link rel="stylesheet" th:href="@{/assets/plugins/modal-datepicker/datepicker.css}"/>
</head>

<aside class="app-sidebar" th:fragment="sidebar">
    <div class="app-sidebar__logo">
        <a class="header-brand" href="index-2.html">
            <img alt="Dayonelogo" class="header-brand-img desktop-lgo"
                 th:src="@{/assets/images/brand/logo.png}">
            <img alt="Dayonelogo" class="header-brand-img dark-logo"
                 th:src="@{/assets/images/brand/logo-white.png}">
            <img alt="Dayonelogo" class="header-brand-img mobile-logo"
                 th:src="@{/assets/images/brand/favicon.png}">
            <img alt="Dayonelogo" class="header-brand-img darkmobile-logo"
                 th:src="@{/assets/images/brand/favicon1.png}">
        </a>
    </div>
    <div class="app-sidebar3">
        <ul class="side-menu">
            <li class="side-item side-item-category mt-4">Dashboards</li>
            <li class="slide">
                <a class="side-menu__item" data-toggle="slide" href="#">
                    <i class="feather feather-home sidemenu_icon"></i>
                    <span class="side-menu__label">HR Dashboard</span><i
                        class="angle fa fa-angle-right"></i>
                </a>
                <ul class="slide-menu">
                    <li><a class="slide-item" href="index-2.html">Dashboard</a></li>
                    <li><a class="slide-item" href="hr-department.html">Department</a></li>
                    <li class="sub-slide">
                        <a class="sub-side-menu__item" data-toggle="sub-slide" href="#"><span
                                class="sub-side-menu__label">Employees</span><i
                                class="sub-angle fa fa-angle-right"></i></a>
                        <ul class="sub-slide-menu">
                            <li><a class="sub-slide-item" href="hr-emplist.html">Employees List</a></li>
                            <li><a class="sub-slide-item" href="hr-empview.html">View Employee</a></li>
                            <li><a class="sub-slide-item" href="hr-addemployee.html">Add Employee</a></li>
                        </ul>
                    </li>
                    <li class="sub-slide">
                        <a class="sub-side-menu__item" data-toggle="sub-slide" href="#"><span
                                class="sub-side-menu__label">Attendance</span><i
                                class="sub-angle fa fa-angle-right"></i></a>
                        <ul class="sub-slide-menu">
                            <li><a class="sub-slide-item" href="hr-attlist.html">Attendance List</a></li>
                            <li><a class="sub-slide-item" href="hr-attuser.html">Attendance By User</a></li>
                            <li><a class="sub-slide-item" href="hr-attview.html">Attendance View</a></li>
                            <li><a class="sub-slide-item" href="hr-overviewcldr.html">Overview Calender</a>
                            </li>
                            <li><a class="sub-slide-item" href="hr-attmark.html">Attendance Mark </a></li>
                            <li><a class="sub-slide-item" href="hr-leaves.html">Leave Settings</a></li>
                            <li><a class="sub-slide-item" href="hr-leavesapplication.html">Leave
                                Applications</a></li>
                            <li><a class="sub-slide-item" href="hr-recentleaves.html">Recent Leaves </a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="slide-item" href="hr-award.html">Awards</a></li>
                    <li><a class="slide-item" href="hr-holiday.html">Holidays</a></li>
                    <li><a class="slide-item" href="hr-notice.html">Notice Board</a></li>
                    <li><a class="slide-item" href="hr-expenses.html">Expenses</a></li>
                    <li class="sub-slide">
                        <a class="sub-side-menu__item" data-toggle="sub-slide" href="#"><span
                                class="sub-side-menu__label">Payroll</span><i
                                class="sub-angle fa fa-angle-right"></i></a>
                        <ul class="sub-slide-menu">
                            <li><a class="sub-slide-item" href="hr-empsalary.html">Employee Salary</a></li>
                            <li><a class="sub-slide-item" href="hr-addpayroll.html">Add Payroll</a></li>
                            <li><a class="sub-slide-item" href="hr-editpayroll.html">Edit Payroll</a></li>
                        </ul>
                    </li>
                    <li><a class="slide-item" href="hr-events.html">Events</a></li>
                    <li><a class="slide-item" href="hr-settings.html">Settings</a></li>
                </ul>
            </li>
            <li class="slide">
                <a class="side-menu__item" data-toggle="slide" href="#">
                    <i class="feather  feather-users sidemenu_icon"></i>
                    <span class="side-menu__label">Employee Dashboard</span><i
                        class="angle fa fa-angle-right"></i>
                </a>
                <ul class="slide-menu">
                    <li><a class="slide-item" href="index2.html">Dashboard</a></li>
                    <li><a class="slide-item" href="employee-attendance.html">Attendance</a></li>
                    <li><a class="slide-item" href="employee-leaves.html">Apply Leaves </a></li>
                    <li><a class="slide-item" href="employee-myleaves.html">My Leaves </a></li>
                    <li><a class="slide-item" href="employee-payslips.html">Payslips </a></li>
                    <li><a class="slide-item" href="employee-expenses.html">Expenses</a></li>
                </ul>
            </li>
            <li class="slide">
                <a class="side-menu__item" data-toggle="slide" href="#">
                    <i class="feather feather-user sidemenu_icon"></i>
                    <span class="side-menu__label">Client Dashboard</span><i
                        class="angle fa fa-angle-right"></i>
                </a>
                <ul class="slide-menu">
                    <li><a class="slide-item" href="index5.html">Dashboard</a></li>
                    <li><a class="slide-item" href="client-list.html">Client List</a></li>
                    <li><a class="slide-item" href="client-view.html">View Client</a></li>
                    <li><a class="slide-item" href="client-new.html">New Client</a></li>
                    <li><a class="slide-item" href="client-profile.html">User Profile</a></li>
                </ul>
            </li>
            <li class="slide">
                <a class="side-menu__item" data-toggle="slide" href="#">
                    <i class="feather feather-headphones sidemenu_icon"></i>
                    <span class="side-menu__label">Support System</span><i
                        class="angle fa fa-angle-right"></i>
                </a>
                <ul class="slide-menu">
                    <li class="sub-slide">
                        <a class="sub-side-menu__item" data-toggle="sub-slide" href="#"><span
                                class="sub-side-menu__label">Landing Pages</span><i
                                class="sub-angle fa fa-angle-right"></i></a>
                        <ul class="sub-slide-menu">
                            <li><a class="sub-slide-item" href="support-landing.html">Landing Page</a></li>
                            <li><a class="sub-slide-item" href="support-knowledge.html">Knowledge Page</a>
                            </li>
                            <li><a class="sub-slide-item" href="support-knowledgeview.html">Knowledge
                                View</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sub-slide">
                        <a class="sub-side-menu__item" data-toggle="sub-slide" href="#"><span
                                class="sub-side-menu__label">User Pages</span><i
                                class="sub-angle fa fa-angle-right"></i></a>
                        <ul class="sub-slide-menu">
                            <li><a class="sub-slide-item" href="support-userdash.html">Dashboard</a></li>
                            <li><a class="sub-slide-item" href="support-editprofile.html">Profile</a></li>
                            <li class="sub-slide2">
                                <a class="sub-side-menu__item2" data-toggle="sub-slide2" href="#"><span
                                        class="sub-side-menu__label2">Tickets</span><i
                                        class="sub-angle2 fa fa-angle-right"></i></a>
                                <ul class="sub-slide-menu2">
                                    <li><a class="sub-slide-item2" href="support-ticketlist.html">Ticket
                                        List</a></li>
                                    <li><a class="sub-slide-item2" href="support-ticketactive.html">Active
                                        Tickets</a></li>
                                    <li><a class="sub-slide-item2" href="support-ticketclosed.html">Closed
                                        Tickets</a></li>
                                    <li><a class="sub-slide-item2" href="support-ticketcreate.html">Create
                                        Ticket</a></li>
                                    <li><a class="sub-slide-item2" href="support-ticketview.html">View
                                        Ticket</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="sub-slide">
                        <a class="sub-side-menu__item" data-toggle="sub-slide" href="#"><span
                                class="sub-side-menu__label">Admin</span><i
                                class="sub-angle fa fa-angle-right"></i></a>
                        <ul class="sub-slide-menu">
                            <li><a class="sub-slide-item" href="support-admindash.html">Dashboard</a></li>
                            <li><a class="sub-slide-item" href="support-admineditprofile.html">Edit
                                Profile</a>
                            </li>
                            <li class="sub-slide2">
                                <a class="sub-side-menu__item2" data-toggle="sub-slide2" href="#"><span
                                        class="sub-side-menu__label2">Tickets</span><i
                                        class="sub-angle2 fa fa-angle-right"></i></a>
                                <ul class="sub-slide-menu2">
                                    <li><a class="sub-slide-item2" href="support-adminticketlist.html">Ticket
                                        List</a></li>
                                    <li><a class="sub-slide-item2" href="support-adminticketactive.html">Active
                                        Tickets</a></li>
                                    <li><a class="sub-slide-item2" href="support-adminticketclosed.html">Closed
                                        Tickets</a></li>
                                    <li><a class="sub-slide-item2" href="support-adminticketnew.html">New
                                        Ticket</a></li>
                                    <li><a class="sub-slide-item2" href="support-adminticketview.html">View
                                        Ticket</a></li>
                                </ul>
                            </li>
                            <li><a class="sub-slide-item" href="support-admincustomer.html">Customers</a>
                            </li>
                            <li><a class="sub-slide-item" href="support-admincategories.html">Categories</a>
                            </li>
                            <li><a class="sub-slide-item" href="support-adminarticles.html">Articles</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sub-slide">
                        <a class="sub-side-menu__item" data-toggle="sub-slide" href="#"><span
                                class="sub-side-menu__label">Agent</span><i
                                class="sub-angle fa fa-angle-right"></i></a>
                        <ul class="sub-slide-menu">
                            <li><a class="sub-slide-item" href="support-agentdash.html">Dashboard</a></li>
                            <li class="sub-slide2">
                                <a class="sub-side-menu__item2" data-toggle="sub-slide2" href="#"><span
                                        class="sub-side-menu__label2">Tickets</span><i
                                        class="sub-angle2 fa fa-angle-right"></i></a>
                                <ul class="sub-slide-menu2">
                                    <li><a class="sub-slide-item2" href="support-agentticketlist.html">Ticket
                                        List</a></li>
                                    <li><a class="sub-slide-item2" href="support-agentticketactive.html">Active
                                        Tickets</a></li>
                                    <li><a class="sub-slide-item2" href="support-agentticketclosed.html">Closed
                                        Tickets</a></li>
                                    <li><a class="sub-slide-item2" href="support-agentticketview.html">View
                                        Ticket</a></li>
                                </ul>
                            </li>
                            <li><a class="sub-slide-item" href="support-agentassign.html">Assigned
                                Categories</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="slide">
                <a class="side-menu__item" data-toggle="slide" href="#">
                    <i class="feather feather-airplay sidemenu_icon"></i>
                    <span class="side-menu__label">Admin</span><i class="angle fa fa-angle-right"></i>
                </a>
                <ul class="slide-menu">
                    <li><a class="slide-item" href="admin-general.html">General Settings</a></li>
                    <li><a class="slide-item" href="admin-api.html">API Settings</a></li>
                    <li><a class="slide-item" href="admin-role.html">Role Access</a></li>
                </ul>
            </li>
            <li class="slide">
                <a class="side-menu__item" data-toggle="slide" href="#">
                    <i class="feather feather-slack sidemenu_icon"></i>
                    <span class="side-menu__label">Super Admin</span><i class="angle fa fa-angle-right"></i>
                </a>
                <ul class="slide-menu">
                    <li><a class="slide-item" href="index7.html">Dashboard</a></li>
                    <li><a class="slide-item" href="superadmin-company.html">Companies</a></li>
                    <li><a class="slide-item" href="superadmin-subscription.html">Subscription Plans</a>
                    </li>
                    <li><a class="slide-item" href="superadmin-invoices.html">Invoices</a></li>
                    <li><a class="slide-item" href="superadmin-admins.html">Super Admins</a></li>
                    <li><a class="slide-item" href="superadmin-settings.html">Settings</a></li>
                    <li><a class="slide-item" href="superadmin-role.html">Role Access</a></li>
                </ul>
            </li>
            <li class="side-item side-item-category">Pages</li>
            <li class="slide">
                <a class="side-menu__item" data-toggle="slide" href="#">
                    <i class="feather feather-copy sidemenu_icon"></i>
                    <span class="side-menu__label">Pages</span><i class="angle fa fa-angle-right"></i></a>
                <ul class="slide-menu">
                    <li class="sub-slide">
                        <a class="sub-side-menu__item" data-toggle="sub-slide" href="#"><span
                                class="sub-side-menu__label">Profile</span><i
                                class="sub-angle fa fa-angle-right"></i></a>
                        <ul class="sub-slide-menu">
                            <li><a class="sub-slide-item" href="profile1.html">Profile 01</a></li>
                            <li><a class="sub-slide-item" href="profile2.html">Profile 02</a></li>
                            <li><a class="sub-slide-item" href="profile3.html">Profile 03</a></li>
                        </ul>
                    </li>
                    <li><a class="slide-item" href="editprofile.html"> Edit Profile</a></li>
                    <li class="sub-slide">
                        <a class="sub-side-menu__item" data-toggle="sub-slide" href="#"><span
                                class="sub-side-menu__label">Email</span><i
                                class="sub-angle fa fa-angle-right"></i></a>
                        <ul class="sub-slide-menu">
                            <li><a class="sub-slide-item" href="email-compose.html">Email Compose</a></li>
                            <li><a class="sub-slide-item" href="email-inbox.html">Email Inbox</a></li>
                            <li><a class="sub-slide-item" href="email-read.html">Email Read</a></li>
                        </ul>
                    </li>
                    <li class="sub-slide">
                        <a class="sub-side-menu__item" data-toggle="sub-slide" href="#"><span
                                class="sub-side-menu__label">Pricing</span><i
                                class="sub-angle fa fa-angle-right"></i></a>
                        <ul class="sub-slide-menu">
                            <li><a class="sub-slide-item" href="pricing.html">Pricing 01</a></li>
                            <li><a class="sub-slide-item" href="pricing2.html">Pricing 02</a></li>
                            <li><a class="sub-slide-item" href="pricing3.html">Pricing 03</a></li>
                        </ul>
                    </li>
                    <li class="sub-slide">
                        <a class="sub-side-menu__item" data-toggle="sub-slide" href="#"><span
                                class="sub-side-menu__label">Invoice</span><i
                                class="sub-angle fa fa-angle-right"></i></a>
                        <ul class="sub-slide-menu">
                            <li><a class="sub-slide-item" href="invoice-list.html">Invoice list</a></li>
                            <li><a class="sub-slide-item" href="invoice1.html">Invoice 01</a></li>
                            <li><a class="sub-slide-item" href="invoice2.html">Invoice 02</a></li>
                            <li><a class="sub-slide-item" href="invoice3.html">Invoice 03</a></li>
                            <li><a class="sub-slide-item" href="invoice-add.html">Add Invoice</a></li>
                            <li><a class="sub-slide-item" href="invoice-edit.html">Edit Invoice</a></li>
                        </ul>
                    </li>
                    <li class="sub-slide">
                        <a class="sub-side-menu__item" data-toggle="sub-slide" href="#"><span
                                class="sub-side-menu__label">Blog</span><i
                                class="sub-angle fa fa-angle-right"></i></a>
                        <ul class="sub-slide-menu">
                            <li><a class="sub-slide-item" href="blog.html">Blog 01</a></li>
                            <li><a class="sub-slide-item" href="blog2.html">Blog 02</a></li>
                            <li><a class="sub-slide-item" href="blog3.html">Blog 03</a></li>
                            <li><a class="sub-slide-item" href="blog-styles.html">Blog Styles</a></li>
                        </ul>
                    </li>
                    <li><a class="slide-item" href="gallery.html"> Gallery</a></li>
                    <li><a class="slide-item" href="faq.html"> FAQS</a></li>
                    <li><a class="slide-item" href="terms.html"> Terms</a></li>
                    <li><a class="slide-item" href="emptypage.html"> Empty Page</a></li>
                    <li><a class="slide-item" href="search.html"> Search</a></li>
                </ul>
            </li>
        </ul>
    </div>
</aside>

<div class="app-header header" th:fragment="app-header">
    <div class="container-fluid">
        <div class="d-flex">
            <a class="header-brand" href="index-2.html">
                <img alt="Dayonelogo" class="header-brand-img desktop-lgo"
                     th:src="@{/assets/images/brand/logo.png}">
                <img alt="Dayonelogo" class="header-brand-img dark-logo"
                     th:src="@{/assets/images/brand/logo-white.png}">
                <img alt="Dayonelogo" class="header-brand-img mobile-logo"
                     th:src="@{/assets/images/brand/favicon.png}">
                <img alt="Dayonelogo" class="header-brand-img darkmobile-logo"
                     th:src="@{/assets/images/brand/favicon1.png}">
            </a>
            <div class="app-sidebar__toggle" data-toggle="sidebar">
                <a class="open-toggle" href="#">
                    <i class="feather feather-menu"></i>
                </a>
                <a class="close-toggle" href="#">
                    <i class="feather feather-x"></i>
                </a>
            </div>
            <div class="mt-0">
                <form class="form-inline">
                    <div class="search-element">
                        <input aria-label="Search" class="form-control header-search"
                               placeholder="Search…"
                               tabindex="1" type="search">
                        <button class="btn btn-primary-color">
                            <i class="feather feather-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="d-flex order-lg-2 my-auto ml-auto">
                <a class="nav-link my-auto icon p-0 nav-link-lg d-md-none navsearch"
                   data-toggle="search"
                   href="#">
                    <i class="feather feather-search search-icon header-icon"></i>
                </a>
                <div class="dropdown header-message">
                    <a class="nav-link icon" data-toggle="dropdown">
                        <i class="feather feather-mail header-icon"></i>
                        <span class="badge badge-success side-badge">1</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow  animated">
                        <div class="header-dropdown-list message-menu" id="message-menu">
                            <a class="dropdown-item border-bottom" href="#">
                                <div class="d-flex align-items-center">
                                    <div class="">
                                                        <span class="avatar avatar-md brround align-self-center cover-image"
                                                              data-image-src="assets/images/users/1.jpg"></span>
                                    </div>
                                    <div class="d-flex">
                                        <div class="pl-3">
                                            <h6 class="mb-1">Jack Wright</h6>
                                            <p class="fs-13 mb-1">All the best your template
                                                awesome</p>
                                            <div class="small text-muted">
                                                3 hours ago
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class=" text-center p-2">
                            <a class="" href="#">See All Messages</a>
                        </div>
                    </div>
                </div>
                <div class="dropdown header-notify">
                    <a class="nav-link icon" data-target=".sidebar-right"
                       data-toggle="sidebar-right">
                        <i class="feather feather-bell header-icon"></i>
                        <span class="bg-dot"></span>
                    </a>
                </div>
                <div class="dropdown profile-dropdown">
                    <a class="nav-link pr-1 pl-0 leading-none" data-toggle="dropdown" href="#">
                        <span>
                            <img alt="img" class="avatar avatar-md bradius" th:src="@{/assets/images/users/16.jpg}">
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow animated">
                        <div class="p-3 text-center border-bottom">
                            <a class="text-center user pb-0 font-weight-bold" href="#"
                               sec:authentication="principal.fullName"></a>
                            <p class="text-center user-semi-title"
                               sec:authentication="principal.jobTitle"></p>
                        </div>
                        <a class="dropdown-item d-flex" href="#">
                            <i class="feather feather-user mr-3 fs-16 my-auto"></i>
                            <div class="mt-1">Profile</div>
                        </a>
                        <a class="dropdown-item d-flex" href="#">
                            <i class="feather feather-settings mr-3 fs-16 my-auto"></i>
                            <div class="mt-1">Settings</div>
                        </a>
                        <a class="dropdown-item d-flex" data-target="#changepasswordnmodal"
                           data-toggle="modal"
                           href="#">
                            <i class="feather feather-edit-2 mr-3 fs-16 my-auto"></i>
                            <div class="mt-1">Change Password</div>
                        </a>
                        <a class="dropdown-item d-flex" th:href="@{/university-payroll/logout}">
                            <i class="feather feather-power mr-3 fs-16 my-auto"></i>
                            <div class="mt-1">Sign Out</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="notifications">
    <div class="sidebar sidebar-right sidebar-animate">
        <div class="card-header border-bottom pb-5">
            <h4 class="card-title">Notifications </h4>
            <div class="card-options">
                <a class="btn btn-sm btn-icon btn-light  text-primary" data-target=".sidebar-right"
                   data-toggle="sidebar-right"
                   href="#"><i class="feather feather-x"></i> </a>
            </div>
        </div>
        <div class="">
            <div class="list-group-item  align-items-center  border-bottom">
                <div class="d-flex">
                    <span class="avatar avatar-lg brround mr-3"
                          th:style="'background-image:url( + @{/assets/images/users/10.jpg} + );'"></span>
                    <div class="mt-1">
                        <a class="font-weight-semibold fs-16" href="#">Paul<span class="text-muted font-weight-normal"> commented on you post</span></a>
                        <span class="clearfix"></span>
                        <span class="text-muted fs-13 ml-auto"><i
                                class="mdi mdi-clock text-muted mr-1"></i>1 hour ago</span>
                    </div>
                    <div class="ml-auto">
                        <a aria-expanded="false" aria-haspopup="true" class="mr-0 option-dots" data-toggle="dropdown"
                           href="#"
                           role="button">
                            <span class="feather feather-more-horizontal"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a href="#"><i class="feather feather-eye mr-2"></i>View</a></li>
                            <li><a href="#"><i class="feather feather-plus-circle mr-2"></i>Add</a></li>
                            <li><a href="#"><i class="feather feather-trash-2 mr-2"></i>Remove</a></li>
                            <li><a href="#"><i class="feather feather-settings mr-2"></i>More</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer" th:fragment="footer">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-md-12 col-sm-12 mt-3 mt-lg-0 text-center">
                Copyright © 2021 <a href="#">Dayone</a>. Designed by <a href="#">Spruko Technologies Pvt.Ltd</a> All
                rights reserved.
            </div>
        </div>
    </div>

    <script th:src="@{/assets/plugins/jquery/jquery.min.js}"></script>
    <script th:src="@{/assets/plugins/bootstrap/popper.min.js}"></script>
    <script th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/plugins/select2/select2.full.min.js}"></script>
    <script th:src="@{/assets/plugins/p-scrollbar/p-scrollbar.js}"></script>
    <script th:src="@{/assets/js/custom.js}"></script>
    <script th:src="@{/assets/switcher/js/switcher.js}"></script>
    <!--    -->
    <script th:src="@{/assets/plugins/moment/moment.js}"></script>
    <script th:src="@{/assets/plugins/othercharts/jquery.sparkline.min.js}"></script>
    <script th:src="@{/assets/plugins/circle-progress/circle-progress.min.js}"></script>
    <script th:src="@{/assets/plugins/sidemenu/sidemenu.js}"></script>
    <script th:src="@{/assets/plugins/p-scrollbar/p-scroll1.js}"></script>
    <script th:src="@{/assets/plugins/sidebar/sidebar.js}"></script>
    <script th:src="@{/assets/plugins/datatable/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/assets/plugins/datatable/js/dataTables.bootstrap4.js}"></script>
    <script th:src="@{/assets/plugins/datatable/dataTables.responsive.min.js}"></script>
    <script th:src="@{/assets/plugins/datatable/responsive.bootstrap4.min.js}"></script>
    <script th:src="@{/assets/js/hr/hr-emp.js}"></script>
    <!--    -->
    <script th:src="@{/assets/plugins/notify/js/notifIt.js}"></script>
    <script th:src="@{/assets/plugins/chart/chart.bundle.js}"></script>
    <script th:src="@{/assets/plugins/chart/utils.js}"></script>
    <script th:src="@{/assets/plugins/modal-datepicker/datepicker.js}"></script>
    <script th:src="@{/assets/plugins/datatable/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/assets/plugins/datatable/js/buttons.bootstrap4.min.js}"></script>
    <script th:src="@{/assets/plugins/summernote/summernote-bs4.js}"></script>
    <script th:src="@{/assets/js/client/client-list.js}"></script>
    <script th:src="@{/assets/js/client/client-sidemenuchart.js}"></script>
    <!--    -->
    <script th:src="@{/assets/js/employee/emp-myleaves.js}"></script>
    <script th:src="@{/assets/js/employee/emp-sidemenuchart.js}"></script>
    <script th:src="@{/assets/plugins/apexchart/apexcharts.js}"></script>
    <script th:src="@{/assets/js/employee/emp-payslips.js}"></script>
    <!--    -->
</footer>
</body>
</html>