<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common :: header"></head>
<body class="app sidebar-mini" id="index1">

<div id="global-loader">
    <img alt="loader" th:src="@{/assets/images/svgs/loader.svg}">
</div>

<div class="page">
    <div class="page-main">
        <aside th:replace="common :: sidebar"></aside>

        <div class="app-content main-content">
            <div class="side-app">
                <div th:replace="common :: app-header"></div>

                <section id="current-page-content">
                    <div class="page-header d-xl-flex d-block">
                        <div class="page-leftheader">
                            <h4 class="page-title">Add Employee</h4>
                        </div>
                        <div class="page-rightheader ml-md-auto">
                            <div class="align-items-end flex-wrap my-auto right-content breadcrumb-right">
                                <div class="btn-list">
                                    <button class="btn btn-light" data-placement="top" data-toggle="tooltip" title="E-mail">
                                        <i class="feather feather-mail"></i></button>
                                    <button class="btn btn-light" data-placement="top" data-toggle="tooltip"
                                            title="Contact"><i class="feather feather-phone-call"></i></button>
                                    <button class="btn btn-primary" data-placement="top" data-toggle="tooltip" title="Info">
                                        <i class="feather feather-info"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-md-12 col-lg-12">
                            <div class="card box-widget widget-user">
                                <div class="card-body text-center">
                                    <div class="widget-user-image mx-auto text-center">
                                        <img alt="img" class="avatar avatar-xxl brround rounded-circle"
                                             src="assets/images/users/1.jpg">
                                    </div>
                                    <div class="pro-user mt-3">
                                        <h5 class="pro-user-username text-dark mb-1 fs-16">Faith Harris</h5>
                                        <h6 class="pro-user-desc text-muted fs-12">Web Designer</h6>
                                    </div>
                                    <div class="star-ratings start-ratings-main mb-0 clearfix">
                                        <div class="stars stars-example-fontawesome star-sm">
                                            <select id="example-fontawesome" name="rating">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option selected value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer p-0">
                                    <div class="row">
                                        <div class="col-4 text-center py-5 border-right">
                                            <h5 class="fs-12 font-weight-semibold mb-3">January</h5>
                                            <h5 class="mb-2">
                                                <span class="fs-18 text-success">0</span>
                                                <span class="my-auto fs-9 font-weight-normal  ml-1 mr-1">/</span>
                                                <span class="fs-18 font-weight-semibold text-dark">31</span>
                                            </h5>
                                            <h5 class="fs-12 mb-0">Attendance</h5>
                                        </div>
                                        <div class="col-4  py-5 text-center border-right">
                                            <h5 class="fs-12 font-weight-semibold mb-3">Year-2021</h5>
                                            <h5 class="mb-2">
                                                <span class="fs-18 text-orange">0</span>
                                                <span class="my-auto fs-9 font-weight-normal  ml-1 mr-1">/</span>
                                                <span class="fs-18 font-weight-semibold text-dark">41</span>
                                            </h5>
                                            <h5 class="fs-12 mb-0">Leaves</h5>
                                        </div>
                                        <div class="col-4 text-center py-5">
                                            <h5 class="fs-12 font-weight-semibold mb-3">Year-2021</h5>
                                            <h5 class="mb-2">
                                                <span class="fs-18 text-primary">0</span>
                                            </h5>
                                            <h5 class="fs-12 mb-0">Awards</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-md-12 col-lg-12">
                            <div class="tab-menu-heading hremp-tabs p-0 ">
                                <div class="tabs-menu1">
                                    <!-- Tabs -->
                                    <ul class="nav panel-tabs">
                                        <li class="ml-4"><a class="active" data-toggle="tab" href="#tab5">Personal
                                            Details</a></li>
                                        <li><a data-toggle="tab" href="#tab6">Company Details</a></li>
                                        <li><a data-toggle="tab" href="#tab7">Bank Details</a></li>
                                        <li><a data-toggle="tab" href="#tab8">Upload Documents</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-body tabs-menu-body hremp-tabs1 p-0">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab5">
                                        <div class="card-body">
                                            <h4 class="mb-4 font-weight-bold">Basic</h4>
                                            <div class="form-group ">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label mb-0 mt-2">User Name</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <input class="form-control mb-md-0 mb-5" placeholder="First Name"
                                                                       type="text">
                                                                <span class="text-muted"></span>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input class="form-control" placeholder="Last Name"
                                                                       type="text">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label mb-0 mt-2">Father Name</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input class="form-control" placeholder="Name" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label mb-0 mt-2">Contact Number</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input class="form-control" placeholder="Phone Number" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label mb-0 mt-2">Emergency Contact Number
                                                            01</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input class="form-control" placeholder="Contact Number01"
                                                               type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label mb-0 mt-2">Emergency Contact Number
                                                            02</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input class="form-control" placeholder="Contact Number02"
                                                               type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label mb-0 mt-2">Date Of Birth</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input class="form-control fc-datepicker" placeholder="DD-MM-YYY"
                                                               type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label">Gender</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="custom-controls-stacked d-md-flex">
                                                            <label class="custom-control custom-radio mr-4">
                                                                <input class="custom-control-input" name="example-radios4"
                                                                       type="radio" value="option1">
                                                                <span class="custom-control-label">Male</span>
                                                            </label>
                                                            <label class="custom-control custom-radio">
                                                                <input class="custom-control-input" name="example-radios4"
                                                                       type="radio" value="option2">
                                                                <span class="custom-control-label">Female</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label mb-0 mt-2">Marital Status</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <select class="form-control custom-select select2" data-placeholder="Select"
                                                                name="projects">
                                                            <option label="Select"></option>
                                                            <option value="1">Single</option>
                                                            <option value="2">Married</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label mb-0 mt-2">Blood Group</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <select class="form-control custom-select select2" data-placeholder="Select Group"
                                                                name="projects">
                                                            <option label="Select Group"></option>
                                                            <option value="1">A+</option>
                                                            <option value="2">B+</option>
                                                            <option value="3">O+</option>
                                                            <option value="4">AB+</option>
                                                            <option value="5">A-</option>
                                                            <option value="6">B-</option>
                                                            <option value="7">O-</option>
                                                            <option value="8">AB-</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label mb-0 mt-2">Email</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input class="form-control" placeholder="email" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label mb-0 mt-2">Present Address</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                    <textarea class="form-control" placeholder="Address1"
                                                              rows="3"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label mb-0 mt-2">Permanent Address</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                    <textarea class="form-control" placeholder="Address2"
                                                              rows="3"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-label mb-0 mt-2">Upload Photo</div>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="input-group file-browser">
                                                            <input class="form-control border-right-0 browse-file"
                                                                   placeholder="choose"
                                                                   readonly type="text">
                                                            <label class="input-group-append mb-0">
																	<span class="btn ripple btn-primary">
																		Browse <input class="file-browserinput"
                                                                                      multiple
                                                                                      style="display: none;" type="file">
																	</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h4 class="mb-5 mt-7 font-weight-bold">Account Login</h4>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label mb-0 mt-2">Employee Email</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input class="form-control" placeholder="employee email"
                                                               type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label mb-0 mt-2">Password</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input class="form-control" placeholder="password" type="password">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group mt-7">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label">Email Notification:</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <label class="custom-switch">
                                                            <input class="custom-switch-input" name="custom-switch-checkbox"
                                                                   type="checkbox">
                                                            <span class="custom-switch-indicator"></span>
                                                            <span class="custom-switch-description">On/Off</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab6">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label mb-0 mt-2">Employee ID</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input class="form-control" placeholder="#ID" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label mb-0 mt-2">Department</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input class="form-control" placeholder="Department" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label mb-0 mt-2">Designation</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input class="form-control" placeholder="Designation" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label mb-0 mt-2">Date Of Joining</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input class="form-control fc-datepicker" placeholder="DD-MM-YYYY"
                                                               type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label mb-0 mt-2">Resignation Date</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input class="form-control fc-datepicker" placeholder="DD-MM-YYYY"
                                                               type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label mb-0 mt-2">Termination Date</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input class="form-control fc-datepicker" placeholder="DD-MM-YYYY"
                                                               type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label mb-0 mt-2">Credit Leaves
                                                            <span class="form-help" data-placement="top"
                                                                  data-toggle="tooltip"
                                                                  title="Unused leaves for the Employee">?</span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input class="form-control" placeholder="0" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <h4 class="mb-5 mt-7 font-weight-bold">Salary</h4>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label mb-0 mt-2">Type</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <select class="form-control custom-select select2" data-placeholder="Select Type"
                                                                name="projects">
                                                            <option label="Select Type"></option>
                                                            <option value="0">Full-Time</option>
                                                            <option value="1">Part-Time</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label mb-0 mt-2">Salary</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input class="form-control" placeholder="$Salary" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group mt-7">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label">Status:</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <label class="custom-switch">
                                                            <input class="custom-switch-input" name="custom-switch-checkbox"
                                                                   type="checkbox">
                                                            <span class="custom-switch-indicator"></span>
                                                            <span class="custom-switch-description">Active/Inactive</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab7">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label mb-0 mt-2">Account Holder</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input class="form-control" placeholder="Naame" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label mb-0 mt-2">Account Number</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input class="form-control" placeholder="Number" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label mb-0 mt-2">Bank Name</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input class="form-control" placeholder="Name" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label mb-0 mt-2">Branch Location</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input class="form-control" placeholder="Location" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label mb-0 mt-2">Bank Code (IFSC)
                                                            <span class="form-help" data-placement="top"
                                                                  data-toggle="tooltip"
                                                                  title="Bank Identify Number in your Country">?</span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input class="form-control" placeholder="Code" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label mb-0 mt-2">Tax Payer ID (PAN)
                                                            <span class="form-help" data-placement="top"
                                                                  data-toggle="tooltip"
                                                                  title="Taxpayer Identification Number Used in your Country">?</span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input class="form-control" placeholder="ID No" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab8">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-label mb-0 mt-2">Resume</div>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="input-group file-browser">
                                                            <input class="form-control border-right-0 browse-file"
                                                                   placeholder="choose"
                                                                   readonly type="text">
                                                            <label class="input-group-append mb-0">
																	<span class="btn ripple btn-light">
																		Browse <input class="file-browserinput"
                                                                                      multiple
                                                                                      style="display: none;" type="file">
																	</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-label mb-0 mt-2">ID Proof</div>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="input-group file-browser">
                                                            <input class="form-control border-right-0 browse-file"
                                                                   placeholder="choose"
                                                                   readonly type="text">
                                                            <label class="input-group-append mb-0">
																	<span class="btn ripple btn-light">
																		Browse <input class="file-browserinput"
                                                                                      multiple
                                                                                      style="display: none;" type="file">
																	</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-label mb-0 mt-2">Offer Letter</div>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="input-group file-browser">
                                                            <input class="form-control border-right-0 browse-file"
                                                                   placeholder="choose"
                                                                   readonly type="text">
                                                            <label class="input-group-append mb-0">
																	<span class="btn ripple btn-light">
																		Browse <input class="file-browserinput"
                                                                                      multiple
                                                                                      style="display: none;" type="file">
																	</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-label mb-0 mt-2">Joining Letter</div>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="input-group file-browser">
                                                            <input class="form-control border-right-0 browse-file"
                                                                   placeholder="choose"
                                                                   readonly type="text">
                                                            <label class="input-group-append mb-0">
																	<span class="btn ripple btn-light">
																		Browse <input class="file-browserinput"
                                                                                      multiple
                                                                                      style="display: none;" type="file">
																	</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-label mb-0 mt-2">Agreement Letter</div>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="input-group file-browser">
                                                            <input class="form-control border-right-0 browse-file"
                                                                   placeholder="choose"
                                                                   readonly type="text">
                                                            <label class="input-group-append mb-0">
																	<span class="btn ripple btn-light">
																		Browse <input class="file-browserinput"
                                                                                      multiple
                                                                                      style="display: none;" type="file">
																	</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-label mb-0 mt-2">Experience Letter</div>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="input-group file-browser">
                                                            <input class="form-control border-right-0 browse-file"
                                                                   placeholder="choose"
                                                                   readonly type="text">
                                                            <label class="input-group-append mb-0">
																	<span class="btn ripple btn-light">
																		Browse <input class="file-browserinput"
                                                                                      multiple
                                                                                      style="display: none;" type="file">
																	</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer text-right">
                                        <a class="btn btn-primary" href="#">Save</a>
                                        <a class="btn btn-danger" href="#">Cancle</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>


<div th:replace="common :: notifications"></div>
<footer th:replace="common :: footer"></footer>
</body>
</html>